/* El arterisco nos sirve para definir un estilo general para todo */
*{
    font-family: Arial;
}
/* Nuestro cuerpo */
body{
    background-color: #24607f; /*color de fondo*/
    padding: 0; /* margin es el espacio entre la pared de nuestra capa y esterior */
    margin: 0; /* padding es el espacio entre la pared de nuestra capa y interior */
}
/* contenedor general de nuestros divs o capas */
#container{
    margin: 12% auto; /* margin: auto nos sirve para centrar todo. el margin: 130 nos sirve para mantener intacta nuestra estructura, debido a que le agregamos al menu "position: fixed"*/
    width: 85%; /* Ancho de nuestra capa */
}
/* Con esta media limitamos al menu para que solo sea visible de más de 980 pixeles en ancho de pantalla, osea, desktop */
@media (min-width: 980px){
    /* Nuestro menu de seleccion */
    #menu{
        background-color: #fff;
        text-align: center; /* alinear todo el texto en el "centro" */
        position: fixed; /* Para que nuestro menú no desaparezca de la pantalla */
        top: 0;
        width: 85%;
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        -o-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        z-index: 6;
    }
    /* Nuestro contenedor de la lista */
    #menu ul{
        margin: 0; 
        padding: 0; 
    }
    /* Nuestras listas, para quitar las viñetas */
    #menu ul li{
        list-style: none; /* con esto eliminamos las viñetas de la llista */
        display: inline-block; /* visualización de nuestra lista */
        padding: 50px 10px;
        margin-left: -20px;
    }
    /* El link de nuestras listas de nuestro menu */
    #menu ul li a{
        text-decoration: none; /* le quitamos el subrayado */
        color: #000;
        font-size: 14px; /* tamaño de letra de nuestro link */
        font-weight: bold; /* le damos grosor a la letra */
        padding: 50px 10px; /* este paddin tiene que ser igual al padding de nuestro li */

        -webkit-transition: all .5s; /* Efecto de tiempo de transicion o de cambio de estado (Animación) */
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    /* para animar un poco nuestros links, que se ilumine cuando pasa el mouse sobre cada elemento de nuestros link de nuestras listas de nuestro menu */
    #menu ul li a:hover{
        background-color: #ff5105; /* color naranja */
        color: #ffffff;
    }
    .logo, .logo:hover{
    background: #ff5105 url(../myimg/logo/logo.png);
    background-repeat: no-repeat;
    background-position: center center; /* aliniación horizontal y alineación vertical */
    padding-left: 75px !important; 
    padding-right: 75px !important;
    }
    .logo2{
        background: #fff url(../myimg/logo/logo2.png);
        background-repeat: no-repeat;
        background-position: center center; /* aliniación horizontal y alineación vertical */
        padding-left: 75px !important; 
        padding-right: 75px !important;
    }
    .seleccionado{
        background-color: #ff5105;
        color: #fff !important;
    }
}
/* Con esta media limitamos al menu para que solo sea visible entre 480 pixeles y 979 pixeles de ancho de pantalla, o sea, dispositivos Tablets */
@media (min-width: 480px) and (max-width: 979px){
    /* Nuestro menu de seleccion */
    #menu{
        background-color: #fff;
        text-align: center; /* alinear todo el texto en el "centro" */
        position: fixed; /* Para que nuestro menú no desaparezca de la pantalla */
        top: 0;
        width: 85%;
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        -o-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    /* Nuestro contenedor de la lista */
    #menu ul{
        margin: 0; 
        padding: 0; 
    }
    /* Nuestras listas, para quitar las viñetas */
    #menu ul li{
        list-style: none; /* con esto eliminamos las viñetas de la llista */
        display: inline-block; /* visualización de nuestra lista */
        padding: 20px 7px;
        margin-left: -20px;
    }
    /* El link de nuestras listas de nuestro menu */
    #menu ul li a{
        text-decoration: none; /* le quitamos el subrayado */
        color: #000;
        font-size: 14px; /* tamaño de letra de nuestro link */
        font-weight: bold; /* le damos grosor a la letra */
        padding: 20px 7px; /* este paddin tiene que ser igual al padding de nuestro li */

        -webkit-transition: all .5s; /* Efecto de tiempo de transicion o de cambio de estado (Animación) */
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    /* para animar un poco nuestros links, que se ilumine cuando pasa el mouse sobre cada elemento de nuestros link de nuestras listas de nuestro menu */
    #menu ul li a:hover{
        background-color: #ff5105; /* color naranja */
        color: #ffffff;
    }
    .logo, .logo:hover{
    background: #000 url(../myimg/logo/logo.png);
    background-repeat: no-repeat;
    background-position: center center; /* aliniación horizontal y alineación vertical */
    padding-left: 75px !important; 
    padding-right: 75px !important;
    height: 5px;
    }
    .logo2{
        background: #fff url(../myimg/logo/logo2.png);
        background-repeat: no-repeat;
        background-position: center center; /* aliniación horizontal y alineación vertical */
        padding-left: 75px !important; 
        padding-right: 75px !important;
    }
    .seleccionado{
        background-color: #ff5105;
        color: #fff !important;
    }
}
/* Con esta media limitamos al menu para que solo sea visible en pantallas o equipos con 479 pixeles de ancho como máximo, o sea, dispositivos SmartPhone */
@media (max-width: 479px){
    /* Nuestro menu de seleccion */
    #menu{
        background-color: #fff;
        text-align: center; /* alinear todo el texto en el "centro" */
        position: fixed; /* Para que nuestro menú no desaparezca de la pantalla */
        top: 0;
        width: 85%;
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        -o-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    /* Nuestro contenedor de la lista */
    #menu ul{
        margin: 0; 
        padding: 0; 
    }
    /* Nuestras listas, para quitar las viñetas */
    #menu ul li{
        list-style: none; /* con esto eliminamos las viñetas de la llista */
        display: inline-block; /* visualización de nuestra lista */
        padding: 5px 6px;
        margin-left: -20px;
    }
    /* El link de nuestras listas de nuestro menu */
    #menu ul li a{
        text-decoration: none; /* le quitamos el subrayado */
        color: #000;
        font-size: 11px; /* tamaño de letra de nuestro link */
        font-weight: bold; /* le damos grosor a la letra */
        padding: 5px 5px; /* este paddin tiene que ser igual al padding de nuestro li */

        -webkit-transition: all .5s; /* Efecto de tiempo de transicion o de cambio de estado (Animación) */
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    /* para animar un poco nuestros links, que se ilumine cuando pasa el mouse sobre cada elemento de nuestros link de nuestras listas de nuestro menu */
    #menu ul li a:hover{
        background-color: #ff5105; /* color naranja */
        color: #ffffff;
    }
    .logo, .logo:hover{
    background: #088A29 url(../myimg/logo/logo-mini.png);
    background-repeat: no-repeat;
    background-position: center center; /* aliniación horizontal y alineación vertical */
    padding-left: 35px !important; 
    padding-right: 35px !important;
    }
    .logo2{
        background: #fff url(../myimg/logo/logo-mini-2.png);
        background-repeat: no-repeat;
        background-position: center center; /* aliniación horizontal y alineación vertical */
        padding-left: 35px !important; 
        padding-right: 35px !important;
    }
    .seleccionado{
        background-color: #ff5105;
        color: #fff !important;
    }
}
#slider{
    height: 450px; /* la altura de nuestra imagen */
    margin-top: 10px; /* separamos nuestra imagen del menu */
    overflow: hidden; /* lo que hace es ocultar todo lo que se salga de su marco (por así decirlo) */
    width: 100%;
    
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5); /* 1 pixel en "x", 1 pixel en "y", un difuminado de 10 pixeles y un RedGreenBlueAlfa(0,0,0,0.5) - Esto para dar un poco de sombra alrededor lde la imagen*/
    -moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5); 
    -o-box-shadow: 1px 1px 10px rgba(0,0,0,0.5); 
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5); 
} 
h2{
    color: #a3e0ff; /* color de la letra - azul cielo*/
    font-size: 20px; /* tamaño de la fuente o letra */
    margin-bottom: 50px;
    margin-top: 50px;
    
    -webkit-text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    -moz-text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    -o-text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
}
.contenido{
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5); /* 1 pixel en "x", 1 pixel en "y", un difuminado de 10 pixeles y un RedGreenBlueAlfa(0,0,0,0.5) - Esto para dar un poco de sombra alrededor lde la imagen*/
    -moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5); 
    -o-box-shadow: 1px 1px 10px rgba(0,0,0,0.5); 
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5); 
}
.contenido p{
    font-size: 14px;
    padding: 40px;
}
#formulario{
    background-color: #d2d2d2; /* gris claro */
    margin-top: -20px;
    padding: 40px;
    -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
    -o-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
}
#formulario form{
    font-size: 14px;
    margin: 0 auto;
    width: 80%;
    padding-left: 20%;
}
textares{
    resize: none; /* Quita el ampliar el area de texto */
    height: 100px;
    width: 70%;
        
}
.campo, textarea{
    background: #eee;
    border: 0; /* quitar el borde que tiene por defecto */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 70%;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.campo:focus, textarea:focus{
    background: #fff;
    outline: none; /* elimina el subrayado del campo que biene por default */
    -webkit-box-shadow: 0 0 10px #24607f;
    -moz-box-shadow: 0 0 10px #24607f;
    -o-box-shadow: 0 0 10px #24607f;
    box-shadow: 0 0 10px #24607f;
}
.boton{
    background: #ff8a00;
    border: 0; /*Elimina los border que el navegador le agrega por defecto */
    color: #fff;
    padding: 10px; /* Espacio interior, para que respire el texto */
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.boton:hover{
    background-color: #ff5105;
    cursor: pointer;
}
#footer{
    color: #fff;
    font-size: 12px;
    font-weight: bolder; /* letra negrita */
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}