#tabsServicios{
    height: 80%;
    width: 100%;
}
#tabs{
    background: #ccc;
    padding: 10px;
    text-align: center;
}
#tabs a{
    color: #000;
    font-size: 14px;
    padding: 9px 11px 11px 11px; /* 9 pixeles superior, 11 pixeles a la derecha, 11 pixeles a inferior y 11 pixeles a la izquierda */
    text-decoration: none;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#tabs a:hover{
    background: #eee;
}
.tabContent{
    display: none; /*¨Para ocultar nuestras imagenes */
    text-align: center;
}
.tabContent img{
    margin-top: 10px;
}
/* .tabActual para el jQuery para saber cual pestaña esta activa */
.tabActual{
    background: #fff !important;
}